html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  background-color: #000000;
  background-image: url(./assets/images/image-background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  max-width: 100%;
  min-height: 100vh;
  height: auto;
  letter-spacing: 0.1em;
}

.logo {
  width: 100px;
  border-radius: 50%;
  border: 4px solid #a9a9a9;
}

h2,h3 {
  color: #ffffff;
}

.links__item {
  display: block;
  max-width: 550px;
  margin: 0 auto 15px;
  margin-bottom: 5px;
  padding: 15px 20px;
  font-size: 0.95rem;
  line-height: 1.5;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  color: white;
}

.links__item .links__item--yellow:hover {
  background-color: #fff;
}

.links__item .links__item--coral:hover {
  background-color: #fff;
}

.links__item .links__item--lblue:hover {
  background-color: #fff;
}

.links__item .links__item--aqua:hover {
  background-color: #fff;
}

.links__item .links__item--green:hover {
  background-color: #fff;
}

.links__item .links__item--orange:hover {
  background-color: #fff;
}

.links__item .links__item--rose:hover {
  background-color: #fff;
}
.links__item .links__item--grey:hover {
  background-color: #fff;
  color: #000;
}
.links__item .links__item--black:hover {
  background-color: #fff;
  color: #000;
}
.links__item .links__item--white:hover {
  background-color: #000;
  color: #fff;

}

.links__item .links__item--grey {
  border-radius: 15px;
  border: 4px solid #a9a9a9;
  background-color: #767676;
}
.links__item .links__item--black {
  border-radius: 25px;
  border: 2px solid #a9a9a9;
  background-color: #000000;
}
.links__item .links__item--white {
  border-radius: 25px;
  border: 2px solid #a9a9a9;
  background-color: #ffffff;
  color: #000000
}
.links__item .links__item--coral {
  border-radius: 25px;
  border: 2px solid #ffa093;
  background-color: #ffa093;
}

.links__item .links__item--lblue {
  border-radius: 25px;
  border: 2px solid #80d6ff;
  background-color: #80d6ff;
}

.links__item .links__item--aqua {
  border-radius: 25px;
  border: 2px solid #bedde8;
  background-color: #bedde8;
}

.links__item .links__item--green {
  border-radius: 25px;
  border: 2px solid #73e2a7;
  background-color: #73e2a7;
}

.links__item .links__item--orange {
  border-radius: 25px;
  border: 2px solid #ffc15e;
  background-color: #ffc15e;
}

.links__item .links__item--yellow {
  border-radius: 25px;
  border: 2px solid #fed766;
  background-color: #fed766;
}

.links__item .links__item--rose {
  border-radius: 25px;
  border: 2px solid #fd8176;
  background-color: #fd8176;
}

.channels {
  display: flex;
  max-width: 400px;
  margin: 0 auto;
}

.channels .channels__item {
  flex: 1;
  margin-right: 5px;
  transition: transform 0.2s;
}

.channels__item:hover {
  transform: scale(1.5);
}